@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #080810;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}
